.examples-container {
  padding: 8px;
}

.selected-files-container {
  padding: 8px;
}

.tab-container {
  padding: 8px;
  height: 250px;
}

.drop-zone-container {
  outline: 2px dashed #e1e1e1;
  height: 200px;
  width: 100%;
  cursor: pointer;
}